@sutekitechid:registry=https://npm.pkg.github.com/
@sutekitech:registry=https://npm.pkg.github.com
registry=https://registry.npmjs.org
@OWNER:registry=https://npm.pkg.github.com
shamefully-hoist=true
strict-peer-dependencies=false